body{

    background:#f4f7fb;

    font-family:
    'Segoe UI',
    sans-serif;

}

/* ========================= */
/* HERO HEADER */
/* ========================= */

.hero-banner{

    background:
    linear-gradient(
        135deg,
        #002d62,
        #004a99
    );

    color:white;

    padding:35px;

    text-align:center;

    box-shadow:
    0 5px 20px
    rgba(0,0,0,.15);

}

.hero-banner h1{

    font-weight:700;

}

.hero-banner p{

    margin-top:10px;

    opacity:.9;

}

/* ========================= */
/* DASHBOARD HEADER */
/* ========================= */

.dashboard-header{

    background:white;

    border-radius:15px;

    padding:20px;

    box-shadow:
    0 3px 10px
    rgba(0,0,0,.08);

}

.dashboard-header h2{

    margin:0;

    color:#003366;

    font-weight:700;

}

/* ========================= */
/* CARD */
/* ========================= */

.card{

    border:none;

    border-radius:15px;

    box-shadow:
    0 2px 10px
    rgba(0,0,0,.08);

}

/* ========================= */
/* TABLE */
/* ========================= */

.table{

    background:white;

}

.table thead{

    background:#003366;

    color:white;

}

.table-hover tbody tr:hover{

    background:
    #eef6ff;

}

/* ========================= */
/* BUTTON */
/* ========================= */

.btn{

    border-radius:10px;

}

/* ========================= */
/* STATUS */
/* ========================= */

.badge{

    font-size:.85rem;

    padding:8px 10px;

}

/* ========================= */
/* FORM */
/* ========================= */

.form-control,
.form-select{

    border-radius:10px;

}

/* ========================= */
/* CUSTOM MODAL */
/* ========================= */

.custom-modal{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:
    rgba(0,0,0,.4);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;

}

.custom-modal-content{

    width:600px;

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:
    0 5px 20px
    rgba(0,0,0,.2);

}

/* ========================= */
/* TIMELINE TRACKING */
/* ========================= */

.timeline{

    border-left:
    3px solid
    #0d6efd;

    padding-left:20px;

}

.timeline-item{

    margin-bottom:15px;

    position:relative;

}

.timeline-item::before{

    content:'';

    width:12px;

    height:12px;

    border-radius:50%;

    background:#0d6efd;

    position:absolute;

    left:-27px;

    top:5px;

}

.badge{

    cursor: help;

}

.tooltip-box{

    position:absolute;

    top:35px;

    left:0;

    min-width:220px;

    background:white;

    border:1px solid #ddd;

    padding:10px;

    border-radius:10px;

    box-shadow:
    0 4px 12px rgba(0,0,0,.15);

    z-index:9999;

    font-size:13px;

    color:#333;

}

textarea.form-control{

    resize:none;

}

textarea.form-control{

    resize:vertical;

    min-height:90px;

}